{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Персональний щоденник{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="blurLayer"></div>

    <header>
        <div class="menu-trigger" onclick="toggleMenu(event)">
            <div class="menu-lines">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="header-center">
            {% if user.is_authenticated %}
                МАНДАРИНКА
            {% else %}
                Ласкаво просимо
            {% endif %}
        </div>
    </header>

    <main id="mainContent">
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footerContent">
        <p>&copy; 2024 Персональний щоденник 2025</p>
    </footer>

    <div class="side-menu" id="sideMenu">
        <a href="{% url 'home' %}" class="home">Головна</a>
        {% if user.is_authenticated %}
            <a href="{% url 'diary_list' %}" class="list_button">Мій щоденник</a>
            <a href="{% url 'add_entry' %}" class="entry_button">Додати</a>
            <a href="{% url 'search_entries' %}" class="entries_button">Знайти</a>
            <a href="{% url 'user_profile' %}" class="profile_button">Профіль</a>
            <a href="{% url 'logout' %}" class="logout_button">Вийти</a>
        {% else %}
            <a href="{% url 'login' %}" class="login_button">Увійти</a>
        {% endif %}

        <div class="side-menu-footer">
            {{ user.username }}
        </div>
    </div>

    <script>
        function toggleMenu(event) {
    event.stopPropagation();
    const menu = document.getElementById('sideMenu');
    const blurLayer = document.getElementById('blurLayer');
    const html = document.querySelector('html');

    menu.classList.toggle('open');
    blurLayer.classList.toggle('active');
    html.classList.toggle('menu-open');
}

document.addEventListener('click', function(event) {
    const menu = document.getElementById('sideMenu');
    const blurLayer = document.getElementById('blurLayer');
    const html = document.querySelector('html');

    if (menu.classList.contains('open') && !menu.contains(event.target) && !event.target.closest('.menu-trigger')) {
        menu.classList.remove('open');
        blurLayer.classList.remove('active');
        html.classList.remove('menu-open');
    }
});

    </script>
</body>
</html>
