{% extends 'diary/base.html' %}

{% block content %}
<h1>Мої записи</h1>
<div class="neon-line"></div>
{% if entries %}
    <ul class="entry-list">
    {% for entry in entries %}
        <li>
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.content|truncatewords:30 }}</p>
            <small>{{ entry.date }}</small>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>У вас ще нічого немає. <a href="{% url 'add_entry' %}">Додайте перший запис</a>!</p>
{% endif %}
<div class="neon-line"></div>
{% endblock %}